* {
    box-sizing: border-box;
}

h1 {
    color: black;
    font-family: 'Fira Sans';
    font-weight: 600;
    font-size: 135%;
    line-height: 150%;
    padding: 9% 8% 1%;
    
}

h2 {
    font-weight: 600;
    padding: .5em 0 .5em 0;
}

p {
    font-family: 'Fira Sans';
    color: #88898B;
    font-weight: 300;
    font-size: 13px;
    line-height: 150%;
    padding: 0% 8%;
}

main {
    text-align: left;
    color: #88898B;
    font-family: 'Fira Sans';
    font-weight: 300;
    width: 100%   
}
ul {
    padding: 0;
    list-style: none;
}
.adoptme {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
  }

li:hover {
    color: #FF4850;
}

button {
    display: flex;
    background-color: #FF4850;
    border: none;
    color: white;
    padding: 10px 10px;
    margin: 5px;
    text-decoration: none;
    font-weight: 300;
    border-radius: 4px;
}

.find_out_how {
    padding: 1% 8% 1%;
}

button:hover {
    background-color: #CCC;
    color: #FF4850;
}

em { 
    color: #FF4850;
}


@media screen and (max-width: 768px) {
    .adoptme {   
        flex-direction: column;
    }
    li {
        padding: .25em 0 .25em .5em;
        list-style: none;
    }

    h1 {
        padding: 1em .25em .75em .25em;
    }

    p {
        padding: .25em .25em .25em .25em;
    }

    .contact_us, .find_out_how {
        flex: auto;
        padding: .5em 0 .5em 0;
    }

     
}

@media screen and (min-width: 768px) {
    html {
        background-color: #F0ECEE;
        background: url("https://img.freepik.com/free-photo/close-up-of-a-bulldog-with-leather-collar-around-its-neck-on-white-background_23-2147841052.jpg?size=650&ext=jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        width: 100%;
        height: 100%;
    }
}
